# =========================
# Environment Variables
# =========================
.env
.env.local
.env.production

# =========================
# Python
# =========================
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Node
# =========================
frontend/node_modules/
node_modules/

# =========================
# Build folders
# =========================
dist/
build/
frontend/dist/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Coverage
# =========================
coverage/
htmlcov/

# =========================
# Docker
# =========================
*.sqlite3