fastapi
uvicorn[standard]

pydantic
pydantic-settings

sqlalchemy
psycopg2-binary
alembic

python-dotenv

supabase

google-generativeai

httpx

python-jose[cryptography]
passlib[bcrypt]

python-multipart
email-validator

tenacity